.top-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 210px;
}

.top-block__title {
	margin-bottom: 25px;
}

.top-block__heart {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	margin: 0 auto;
}

.top-block__line {
	width: 90px;
	height: 1px;
	background: black;
	opacity: 0.4;
}

.top-block__line-white {
	width: 90px;
	height: 1px;
	background: white;
}

.top-block__image {
	width: 18px;
	opacity: 0.4;
}

.top-block__image-white {
	width: 18px;
	filter: invert(100%);
}

	/* top-block end */


	/* info-block begin */
.info-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.info-block__vertical {
	flex-direction: column;
}

.info-block__item {
	display: flex;
	justify-content: space-around;
	/*align-items: top;*/
	width: 30%;
}

.info-block__item-vertical {
	width: 30%;
}

.info-block__image {
	width: 34px;
}

.info-block__image_vertical {
	margin-right: 30px;
}

.info-block__let {
	display: flex;
	flex-direction: column;
	min-height: 120px;
	width: 80%;
}

.info-block__title {
	margin-bottom: 20px;
}
/* info-block end */

/* form-block begin */
.form-block {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

.form-block__item {
	width: 30%;
}

.form-block__info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form-block__info-title {
	font-family: "Open Sans";
	font-weight: 400;
	color: #062033;
	font-size: 18px;
	line-height: 26.7px;
}

.form-block__info-text {
	font-family: "Open Sans";
	color: #6a737b;
	font-size: 11px;
	font-weight: 400;
	line-height: 26.7px;
	width: 50%;
}

.form-block__main {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form-block__title {
	color: #062033;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	line-height: 20.02px;
	margin-bottom: 20px;
}

.form-block__input {
	margin-bottom: 20px;
	width: 45%;
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.form-block__input_message {
	width: 91%;
}

.form-block__button {
	display: flex;
	align-items: center;
	align-self: flex-end;
	text-decoration: none;
	color: #000000;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 20.02px;
}

.form-block__button-text {
	display: inline-block;
	padding-top: 5px;
	padding-left: 10px;
	/*line-height: 100%;*/
}

.form-block__social {
	width: 10%;
	display: flex;
	flex-direction: column;
}

.form-block__link-image:hover {
	border-bottom: 2px solid #4c76ff;
}
